@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');

body {
    background: #FFF6D1;
    margin: 0px;
}

h2 {
    font-family: 'Castoro', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: .5em;
    color: #084A37;
    text-align: left;
    padding: 16px 30px;
}

a {
    text-decoration: none;
    color: #084A37;
}

button {
    background-color: #084A37;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    padding: 16px;
    border: none;
    border-radius: 4px;
    margin: 8px;
    box-shadow: 0 8px 20px -5px rgba(4, 36, 6, 0.5);
}

button:hover{
    background-color: #066161;
    cursor: pointer;
    border: none;
}

a:hover {
    color: #066161;
    cursor: pointer;
}

#haikuDisplay {
    font-family: 'Castoro', sans-serif;
    font-size: 80px;
    font-weight: 600;
    line-height: 1.3em;
    color: #084A37;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}

.pageContainer { 
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

.logo {
    align-self: flex-start;
}

.haikuZone {
    align-self: center;
    align-content: center;
    flex-grow: 1;
    white-space: nowrap;
    margin: 0px 32px 0px 32px;
}

.footer {
    align-self: center;
    align-items: flex-end;
    padding-bottom: 24px;
}

.buttonZone {
    margin-top: 32px;
    align-self: center;
}


/* Screens that are 992px or less*/
@media screen and (max-width: 992px) {
    h2 {
        font-size: 30px;
    }

    #haikuDisplay {
        font-size: 60px;
    }

    .footer {
        padding-bottom: 50px;
    }
  }
  